<div class="content">
<div id="header">
  <div class="logoContainer">
    <img *ngIf="isDarkTheme()" src="/assets/img/logo.png" alt="Only Cards" width="100%" height="40%" >
    <img *ngIf="!isDarkTheme()" src="/assets/img/logo_black.png" alt="Only Cards" width="100%" height="40%" >

  </div>
  <p class="sottoTitolo">Il tuo shop per carte collezionabili di qualità</p></div>
<div id="scrollDownArrow" (click)="scrollDown()"><i class="fa-solid fa-arrow-down"></i>
  Scegli il tuo gioco
  <i class="fa-solid fa-arrow-down"></i>
</div>
<div id="grid-container">
  <ng-container *ngFor="let gioco of getGamesValue()">
    <a class="gioco" (click)="vaiAlGioco(gioco)" >{{gioco}}</a>
  </ng-container>
</div>
</div>
