<footer class="footer">
  <div class="container">

    <a class="row logo">
      <a routerLink="home-page">
        <img src="/assets/img/logo.png" height="90" width="300">
      </a>
    </a>

    <div class="col-md-2 mx-auto contatti">
      <h3>Contatti</h3>
      <p>Email: <a href="mailto: onlycards24@gmail.com"> onlycards24&#64;gmail.com </a></p>
    </div>

    <div class="col-md-2 mx-auto link">
        <h3>Link Utili</h3>
        <ul>
          <li><a routerLink="about">Chi siamo</a></li>
          <li><a routerLink="policy">Termini e condizioni</a></li>
          <li><a routerLink="faq">FAQ</a></li>
          <li><a routerLink="support">Supporto</a></li>
        </ul>
    </div>

  </div>
  <div class="row col-md-12">
    <p class="text-center" style="color: #e4e6eb;">©2024 OnlyCards. Tutti i diritti riservati.</p>
  </div>

</footer>

