<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Failed</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <!-- custom css -->
    <link rel="stylesheet" th:href="@{/static/css/style.css}">

</head>
<body>
    <nav class="navbar">
        <img th:src="@{/static/img/logo.png}" alt="Icon" class="icon" >
    </nav>
    <div class="container">
        <div class="card">
            <h1>Login Failed <span class="error-icon">&#10006;</span></h1>
            <p>Sorry!</p>
            <p th:text="${error}"></p>
            <button id="closeButton" class="hide-on-mobile">Close</button>
        </div>
    </div>
    <script>
        document.getElementById('closeButton').onclick = function () {
            window.close();
        };
    </script>
    

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
