<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Richiesta Prodotto</title>
    <style>
        body[data-theme='dark'] {
            background-color: #1d1f27;
            color: #e4e6eb;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .header {
            box-shadow: 0 2px 4px rgba(51, 51, 51, 0.7) !important;
            background-color: #04223e;
            padding: 20px;
            text-align: center;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .header img {
            height: 90px;
            width: auto;
        }

        .content {
            background-color: #1d1f27;
            color: #e4e6eb;
            margin: 0;
            border-radius: 5px;
        }

        .contentInner {
            padding: 20px;
        }

        .content h1, .content p, .content ul li {
            color: #e4e6eb;
        }

        .content ul li {
            margin: 8px 0;
        }

        .content .request-details img {
            max-width: 150px;
            max-height: 200px;
            margin-left: 20px;
            border: 1px solid #e4e6eb;
            border-radius: 5px;
        }

        .content .request-details ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            flex: 1;
        }

        .footer {
            background: linear-gradient(to top, #04223e, #1d1f27);
            padding: 10px 0;
            text-align: center;
            color: #e4e6eb;
            margin: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .footer .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .footer .logo {
            padding: 10px;
            text-align: center;
        }

        .footer .logo img {
            height: 100px;
            width: auto;
        }

        .footer h3 {
            margin: 10px 0 5px;
            color: #e4e6eb;
        }

        .footer p {
            margin: 5px 0;
            color: #e4e6eb;
        }

        /* Stili per dispositivi mobili */
        @media (max-width: 600px) {
            .content .request-details img {
                max-width: 100%;
                margin-left: 0;
                margin-top: 20px;
            }
        }
    </style>
</head>
<body>

<div class="content">
    <div class="header">
        <img src="cid:logo" alt="OnlyCards Logo">
    </div>
    <div class="contentInner">
        <h1>Ciao $usernameAdmin,</h1>
        <p>L'utente <strong>$username</strong> ha richiesto l'inserimento di una nuova carta nel sistema.</p>
        <p>Dettagli della richiesta:</p>
        <div class="request-details">
            <ul>
                <li><strong>Nome dell'utente:</strong> $username</li>
                <li><strong>Nome della carta:</strong> $name</li>
                <li><strong>Gioco:</strong> $game</li>
                <li><strong>Note lasciate dall'utente:</strong> $message</li>
            </ul>
            <img src="cid:cardImage" alt="Carta">
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="logo">
                <img src="cid:logo" alt="OnlyCards Logo">
            </div>
        </div>
        <p class="text-center">©2024 OnlyCards. Tutti i diritti riservati.</p>
    </footer>
</div>

<span style="display: none;" id="timestamp">[$timestamp]</span>

</body>
</html>
