<div class="faq-container">
  <h1>Domande Frequenti (FAQ)</h1>

  <div class="faq-item">
    <h2>1. Quali tipi di carte vendete su Onlycards?</h2>
    <p>
      Su Onlycards offriamo una vasta gamma di carte collezionabili, tra cui Pokémon, Yu-Gi-Oh, e Magic: The Gathering.
    </p>
  </div>

  <div class="faq-item">
    <h2>2. Come posso effettuare un ordine?</h2>
    <p>
      Effettuare un ordine è semplice! Basta navigare tra i prodotti, aggiungere gli articoli desiderati al carrello e seguire la procedura di checkout. Accettiamo vari metodi di pagamento per la tua comodità.
    </p>
  </div>

  <div class="faq-item">
    <h2>3. Quanto tempo ci vuole per ricevere il mio ordine?</h2>
    <p>
      Le spedizioni in Italia solitamente richiedono 3-5 giorni lavorativi. Offriamo anche opzioni di spedizione express per chi ha bisogno di ricevere il proprio ordine più rapidamente.
    </p>
  </div>

  <div class="faq-item">
    <h2>4. Come posso contattare il servizio clienti?</h2>
    <p>
      Puoi contattarci tramite il nostro modulo di contatto sul sito, oppure inviandoci un'email all'indirizzo <strong>onlycards24&commat;gmail.com</strong>. Il nostro team sarà lieto di assisterti per qualsiasi domanda o problema.
    </p>
  </div>

  <div class="faq-item">
    <h2>5. Posso vendere le mie carte su Onlycards?</h2>
    <p>
      Assolutamente sì! Su Onlycards puoi vendere le tue carte collezionabili. Offriamo una piattaforma semplice e sicura per gestire le vendite, e ti forniamo tutto il supporto necessario durante il processo.
    </p>
  </div>

</div>
